<figure>
  <IMG SRC="Logo.png"  WIDTH=150 ALIGN="right">
</figure>

## Projections of mean sea level and tides<br>
### Paper in Journal of Coastal and Hydraulic Structures
<b>Prepared by: H.G. Voortman</b>

<figure>
    <IMG SRC="https://www.python.org/static/community_logos/python-powered-w-200x80.png"  WIDTH=100 ALIGN="right">
</figure>

#### Description
- Analyses described in section 3 of the paper

#### Packages

In [1]:
# General packages
import os
import copy as cp
import sqlite3 as sq
import pandas as pd
import numpy as np
import hvec_tide as tide
from matplotlib import pyplot as plt

# Company packages
from hvec_support import sqlite as hvsq
import hvec_tide as tide

# Project package
from utils import names

s:\JCHS_sea_level\.venv\Lib\site-packages\utide\harmonics.py:16: RuntimeWarning: invalid value encountered in cast
  nshallow = np.ma.masked_invalid(const.nshallow).astype(int)
s:\JCHS_sea_level\.venv\Lib\site-packages\utide\harmonics.py:17: RuntimeWarning: invalid value encountered in cast
  ishallow = np.ma.masked_invalid(const.ishallow).astype(int) - 1

In [2]:
tide.__version__

'3.4.0'

#### Import data

In [3]:
os.chdir(os.getenv('DATAPATH'))
cnxn = hvsq.connect_verbose(r'RWS_data.db', detect_types = True)

The database  RWS_data.db  is opened.
This database contains the following tables:
                 name
0       RWS_Waterinfo
1  Logboek_databeheer
2        Download_log
3                 log
4            stations
5                data

In [4]:
sql = (
    'SELECT * FROM RWS_Waterinfo WHERE '
    'naam IN ("Harlingen", "Hoek van Holland", "IJmuiden Noordersluis", "Den Helder", "Harlingen", "Delfzijl", "Vlissingen") '
    )
df = pd.read_sql(sql, cnxn)

In [5]:
df['year'] = pd.to_datetime(df['tijd']).dt.year

In [6]:
df

,level_0,index,naam,code,tijd,waarde,grootheid,eenheid,kwalico,statuswaarde,bemonsteringsapparaat,meetapparaat,bron,datum,year,tepoch_dy
0,0.0,0.0,Vlissingen,VLIS,2021-12-25 06:00:00,139.0,WATHTE,centimeter,00,Ongecontroleerd,Waarde is niet van toepassing,Vlotter,Download via API with HVEC_PC2,2022-05-03,2021,18986.250000
1,1.0,6.0,Vlissingen,VLIS,2021-12-25 07:00:00,77.0,WATHTE,centimeter,00,Ongecontroleerd,Waarde is niet van toepassing,Vlotter,Download via API with HVEC_PC2,2022-05-03,2021,18986.291667
2,2.0,12.0,Vlissingen,VLIS,2021-12-25 08:00:00,-11.0,WATHTE,centimeter,00,Ongecontroleerd,Waarde is niet van toepassing,Vlotter,Download via API with HVEC_PC2,2022-05-03,2021,18986.333333
3,3.0,18.0,Vlissingen,VLIS,2021-12-25 09:00:00,-96.0,WATHTE,centimeter,00,Ongecontroleerd,Waarde is niet van toepassing,Vlotter,Download via API with HVEC_PC2,2022-05-03,2021,18986.375000
4,4.0,24.0,Vlissingen,VLIS,2021-12-25 10:00:00,-157.0,WATHTE,centimeter,00,Ongecontroleerd,Waarde is niet van toepassing,Vlotter,Download via API with HVEC_PC2,2022-05-03,2021,18986.416667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4049584,NaN,NaN,Vlissingen,None,1899-12-30 19:00:00,-183.0,WATHTE,cm,Historische data,Niet beschikbaar,999,999,Historische waterstandsdata. Verkregen van RWS...,None,1899,-25568.208333
4049585,NaN,NaN,Vlissingen,None,1899-12-31 00:30:00,171.0,WATHTE,cm,Historische data,Niet beschikbaar,999,999,Historische waterstandsdata. Verkregen van RWS...,None,1899,-25567.979167
4049586,NaN,NaN,Vlissingen,None,1899-12-31 07:25:00,-198.0,WATHTE,cm,Historische data,Niet beschikbaar,999,999,Historische waterstandsdata. Verkregen van RWS...,None,1899,-25567.690972
4049587,NaN,NaN,Vlissingen,None,1899-12-31 12:55:00,175.0,WATHTE,cm,Historische data,Niet beschikbaar,999,999,Historische waterstandsdata. Verkregen van RWS...,None,1899,-25567.461806
4049588,NaN,NaN,Vlissingen,None,1899-12-31 19:40:00,-218.0,WATHTE,cm,Historische data,Niet beschikbaar,999,999,Historische waterstandsdata. Verkregen van RWS...,None,1899,-25567.180556

In [7]:
res = df[['naam', 'year']].groupby('naam').min()

In [8]:
res['total_years'] = 2022 - res['year']

In [9]:
res

                       year  total_years
naam
Delfzijl               1878          144
Den Helder             1851          171
Harlingen              1876          146
Hoek van Holland       1887          135
IJmuiden Noordersluis  1883          139
Vlissingen             1863          159

In [10]:
res['total_years'].sum()

894

#### End script
Prepared by HVEC lab, 2022